{% extends 'base3.html' %}

{% block title %}registration{% endblock %}



{% block content %}

    <form method="post" >
        {% csrf_token %}
        <div class="fieldWrapper">
            <a>Imie użytkownika</a>
            {{ form.username }}
        </div>

        <div class="fieldWrapper">
            <a>Hasło</a>
            {{ form.password1 }}
        </div>

        <div class="fieldWrapper">
            <a>Powtórz Hasło</a>
            {{ form.password2 }}
        </div>

        <div class="fieldWrapper">
            <a> Email </a>
            {{ form.email }}
        </div>


        <button class="btn btn-outline-info" type="submit">Sign up</button>
    </form>



{% endblock %}
