section {
    margin: 10px;
}

h1 {
    background-color: DarkSlateGray;
    text-align: center;
    font-size: 30px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

h2  {
    background-color: Silver;
    text-align: center;
}

.description {
    margin: 25px;
    font-size: 20px;
}