

h1 {
    background-color: DarkSlateGray;
    text-align: center;
    font-size: 30px;
    color: white;
}

h2  {
    background-color: Silver;
    text-align: center;
}

.description {
    margin: 25px;
    font-size: 20px;
}

.notation {


}
.notation p {
    margin-bottom: 10px;
}

p {
    text-align: center;
}


.move {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ECECEC;
    font-size: 25px;
}

.arrow-out{
    margin-top: 30px;
    height: 50px;
    text-align: center;
}


.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

i {
  border: solid black;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
  position: relative;
  top: -10px;

}

#moves {
    width: 70%;
}

#table-wrapper {
    position:relative;
}
#table-scroll {
    width: 230px;
  height:800px;
  overflow:auto;
  margin-top:20px;
}

