section {
    margin: 10px;
}

h1 {
    background-color: DarkSlateGray;
    text-align: center;
    font-size: 30px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

h2  {
    background-color: Silver;
    text-align: center;
}

.description {
    margin: 25px;
    font-size: 20px;
}

.notation {
    text-align: center;
    padding: 20px 0px 100px 0px;
    font-size: 20px;
    margin: auto;
}
.notation p {
    margin-bottom: 10px;
}

p {
    text-align: center;
    margin-top: 20px;
}

p > strong {
    font-size: 20px;
}

.move {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ECECEC;
}