
.table-container{
    display: flex;
    align-items: center;

    text-align: center;
    margin: auto;
    width: 90%;

    padding: 40px;
}


table.chess {
    border-collapse: collapse;
    display: table;
    margin: 0 auto;
}

.field{
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 55px;
    border: 2px solid black;
}

.letters {
    text-align: center;
    font-size: 25px;
}


.numbers {
    font-size: 25px;
}