section {
    margin: 15px;
    box-sizing: border-box;
}


.content-table {
    width: 60%;
    border-collapse: collapse;


}

.content-table thead{
    background-color: DarkSlateGray;
    font-size: 40px;
    color: white;
    text-align: center;

}

.content-table thead td:first-child{
    border-top-left-radius: 20px;
}


.content-table thead td:last-child{
    border-top-right-radius: 20px;
}

.content-table tbody td {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    background-color: Gainsboro;
    box-sizing: border-box;
    border: 1px solid black;

}

.content-table tbody a{
    color: black;
}

.content-table tbody a:hover{
    color: DeepSkyBlue;
}



