* {
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
}

body {
    background-color: red;
}

#wrapper {
    margin: 0 100px;
    max-width: 1300px;
    margin: 0 auto;
    background-color: white;
}

header {
    display: display inline-block;
    background-color: LightGrey;
}

header a {
    float: right;
}

header img {
    width: 30%;
    display: block;
    float: right
}



nav {
    overflow: hidden;
    background-color: SlateGray;
}

nav a {
    display: block;
    width: 20%;
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
}

nav a:hover{
    background-color: DarkSlateGray;
}

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }




















