
#content {
    position: relative;
    padding: 20px;
    border: 5px solid black;
    margin: auto;
    width: 70%;
    height: 800px;
    background-color: #D8D6E5;
}

figure {
    width: 75%;
    margin: auto;
    border: 3px solid grey;
    border-radius: 30px;
    background: white;
}

#image-div{
    width: 30%;
    margin: auto;
}

#image-div > img {
    width: 100%;
}


.arrow-out{
    height: 50px;
      text-align: center;
}

i {
  border: solid black;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
  position: relative;
  top: -10px;

}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

p {
    font-size: 20px;
    padding: 20px;
}

p:nth-child(1n+3){
  display: none;
}