
#content {
    position: relative;
    padding: 20px;
    border: 1px solid red;
    margin: auto;
    width: 70%;
}

figure {
    width: 75%;
    margin: auto;
    border: 1px solid yellow;
}

#image-div{
    width: 30%;
    margin: auto;
}

#image-div > img {
    border: 3px solid green;
    width: 100%;
}


.arrow-out{
    margin-top: 20px;
    border: 1px solid blue;
    height: 50px;
      text-align: center;
}

i {
  border: solid black;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;

}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

p {
    font-size: 20px;
    margin-top: 15px;
    padding: 10px;
}

p:nth-child(1n+3){
  display: none;
}