<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "chess/styles/6style.css" %}">
    <title>{% block title %}{% endblock %}</title>
      {% block head %}{% endblock %}
</head>
<body>

 <div id="wrapper">
            <header>
                <img src="{% static "chess/images/header8.jpg" %}" alt="image of a chessboard" title="chess board">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" id="profile">profile</a>
                    <a href="{% url 'logout'  %}" id="log-out">Log out</a>
                {% else %}
                    <a href="{% url 'register'  %}" id="register">Register </a>
                    <a href="{% url 'login'  %}" id ="log-in">Log in </a>
                {% endif %}
            </header>

            <nav>


                <a href="{% url 'list openings'  %}">chess openings</a>
                <a href="{% url 'players' %}">players</a>
                <a href="{% url 'chess board' %}">chessboard</a>
                <a href="https://ratings.fide.com/top.phtml?list=men">FIDE</a>


            </nav>

            <section>



                {% if messages %}
                    {% for message in messages %}
                        <a>{{ message }}</a>
                    {% endfor %}
                {% endif %}

                {% block content %}
                {% endblock %}
            </section>

            <footer>


            </footer>
 </div>

</body>
</html>