{% extends 'base3.html' %}
{% load static %}
{% block title %}list chess opening{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "chess/styles/3list_chess_open.css" %}">
{% endblock %}

{% block content %}
    <section>

        <table class="content-table">

            <thead>
                <tr>
                    <td>eco</td>
                    <td>debut</td>
                </tr>
            </thead>

            <tbody>
                {% for open in chess_open %}
                    <tr>
                        <td>
                            {{ open.eco }}
                        </td>
                        <td>
                            <a href="{% url 'open' open.id %}">{{ open.name }}</a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </section>

{% endblock %}