{% extends 'chess/chess_board.html' %}
{% load static %}

{% block title %}chess opening{% endblock %}

{% block headsingle %}
<link rel="stylesheet" href="{% static "chess/styles/1single_open.css" %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block eco %}
    <section>
        <h1>
            {{ name }}
        </h1>

        <h2>
            {{ eco }}
        </h2>
    </section>
{% endblock %}

{% block after %}
<div id="table-wrapper" class="div2">
    <div id="table-scroll"class="notation">
        <table id="moves">

            <tbody>
                <tr>
                    <td class="move">
                        start
                    </td>
                </tr>
                {% for one_move in algebraic_notation %}
                    <tr>
                        <td class="move">{{one_move}}</td>
                    </tr>
                {% endfor %}


            </tbody>
        </table>


    </div>
</div>
{% endblock %}

{% block algebraic %}
    <div class="arrow-out">
            <p><i class="arrow left"></i><i class="arrow right"></i></p>
    </div>

<script>
    var start_position = [
          {% for k, v in start_position.items %}
              ["{{ k }}","{{ v|safe }}"] {% if not forloop.last %},{% endif %}
          {% endfor %}
    ];

    var final_position = [
          {% for k, v in position.items %}
              ["{{ k }}","{{ v|safe }}"] {% if not forloop.last %},{% endif %}
          {% endfor %}
    ];
</script>
<script src="{% static "chess/js/2single_chess_opening.js" %}" >
</script>
{% endblock %}









