{% extends 'chess\chess_board.html' %}
{% load static %}

{% block title %}chess opening{% endblock %}

{% block headsingle %}
<link rel="stylesheet" href="{% static "chess/styles/2single_open.css" %}">
{% endblock %}

{% block rest %}
    <section>
        <h1>
            {{ name }}
        </h1>

        <h2>
            {{ eco }}
        </h2>

        <div class="description">
            {{ description }}
        </div>

        <div class="notation">
            {{ algebraic_notation }}
        </div>


    </section>



{% endblock %}



